@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  color: white;
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-yellow-400 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-yellow-400 text-white cursor-pointer
    hover:bg-yellow-600
    disabled:cursor-default disabled:bg-gray-400 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-yellow-400;
  font-size: 0.9em;
}
