@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  /* @apply leading-relaxed; */
}

html.dark {
  color: white;
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-yellow-400 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.button {
  @apply rounded-lg cursor-pointer flex text-center py-3 px-6 gap-2 justify-center items-center;
}

.button-accent {
  @apply button text-accent-900 bg-accent-50 border-2 border-accent-100
    dark:bg-accent-300 dark:border-accent-600
    transform hover:scale-102 active:scale-98;
}

.button-gray {
  @apply button text-gray-900 bg-gray-50 border-2 border-gray-100
    dark:text-white dark:bg-gray-800 dark:border-gray-900
    transform hover:scale-102 active:scale-98;
}

/* Full width container for grids */
.full-width-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 12px;
    padding: 0 max(var(--page-padding), calc((100vw - 1200px) / 2));
    background-color: var(--vp-c-bg-soft);
}

.full-width-container .grid {
    max-width: 1200px;
    margin: 0 auto;
}
